Repository teorth/equational_theories, pull requests merged in 2025-01, with the labels that each got.

#1037 [CONTRIBUTIONS]: Cody Roux
  paper/contributions.md
Labels: contribution

#1042 [CONTRIBUTIONS]: Alex Meiburg
  paper/contributions.md
Labels: contribution

#1046 [CONTRIBUTIONS]: Joachim Breitner
  paper/contributions.md
Labels: contribution

#1059 chore: golf Subgraph.lean
  equational_theories/Subgraph.lean
Labels: awaiting-CI

#1060 chore: golf `Definability`
  equational_theories/Definability/Basic.lean
  equational_theories/Definability/Simple.lean
  equational_theories/Definability/Tarski543.lean
Labels: awaiting-CI

#708 Codyroux/boolean ring
  blueprint/src/chapter/implications.tex
  equational_theories.lean
  equational_theories/Generated/VampireProven/Sheffer.lean
  equational_theories/Sheffer.lean
  equational_theories/ShefferAlgebra.lean
Labels: awaiting-author
