Repository teorth/equational_theories, pull requests merged in 2025-04, with the labels that each got.

#1149 verify axiom_i''
  equational_theories/ManuallyProved/Equation1729/Edit.lean
  equational_theories/ManuallyProved/Equation1729/MagmaConstruction.lean
  equational_theories/ManuallyProved/Equation1729/SmallMagma.lean
Labels: awaiting-CI

#1176 [CONTRIBUTIONS] Andrés Goens
  paper/contributions.md
  paper/contributions.tex
Labels: contribution

#1177 [PAPER]: Pass on section 7
  paper/automated.tex
  paper/main.tdo
  paper/references.bib
Labels: paper

#1175 [PAPER] Expand a bit the metaprogramming part on the foundations chapter
  paper/foundations.tex
Labels: paper

#1180 [PAPER]: Fix typos
  paper/conclusions.tex
  paper/contributions.tex
  paper/metatheorems.tex
  paper/numbering.tex
Labels: awaiting-CI, paper

#1187 Change title of paper
  paper/main.tex
Labels: awaiting-CI
